$text-color: #515151;
$font: 'Roboto', 'Open Sans';
$accent-color: #19bb9b;
$secondarry-accent-color: #7fd9c7;
$white-color: #fff;
$background-color: #e9effd;
$bg-for-card: #8c8c8c;
$color-for-hover: #323232;
$bg-card-hover: rgba(0, 0, 0, 0.53);
